@font-face {
    font-family: 'MyFont';
    src: url('/static/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyFont2';
    src: url('/static/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Now apply your font to the body or specific elements */
body {
    font-family: 'MyFont', Arial, sans-serif;
}

.badge {
    font-family: 'MyFont2', Arial, sans-serif;
}
